<!DOCTYPE html>
<html lang = "en">
	<head></head>
	<body>
		<h3>
			<a href="{{ url_for('show_all') }}">Comments - Flask SQLAlchemy examle</a>
		</h3>

		</hr>
		{%- for message in get_flashed_messages() %}
			{{ message }}
		{%- endfor %}

		<h3>Students ((<a href = "{{ url_fo('new') }}">Add Student</a>)</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Address</th>
				</tr>
			</thead>

			<tbody>
			{% for student in students %}
				<tr>
					<td>{{ student.name }}</td>
					<td>{{ student.city }}</td>
					<td>{{ student.addr }}</td>
					<td>{{ student.pin }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
			
